*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #02020e;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: pink;
    border-radius: 10px;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    animation: fall 4s linear forwards;
  }
  
  .heart::before,
  .heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
  
  .heart::before {
    top: -10px;
    left: 0;
  }
  
  .heart::after {
    top: 0;
    left: -10px;
  }
  
  @keyframes fall {
    0% {
      top: -10%;
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    100% {
      top: 110%;
      opacity: 0;
    }
  }
  